.meet-doctors{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    text-align: center;
    font-size: 34px;
    color: rgb(75, 72, 72);
    box-shadow: 2px 2px 2px 4px rgba(87, 80, 80, 0.2);
    border-radius: 20px;
}
.doctors-details{
    margin: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.single-details img{
    width: 100%;
    height: 300px;
}
.single-details{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 20px 10px 1px rgba(87, 80, 80, 0.2);
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .meet-doctors{
        margin-left: 40px;
        margin-right: 0;
        width: 95%;
    }
    .doctors-details{
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .single-details{
        width: 400px;
    }
}
