.service{
    margin: 40px 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.service-header{
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 5px;
        text-align: center;
        font-size: 34px;
        color: rgb(75, 68, 68);
        box-shadow: 2px 2px 2px 4px rgba(87, 80, 80, 0.2);
        border-radius: 20px;
}
@media only screen and (max-width: 600px) {
   .service{
       margin: 0;
       grid-template-columns: repeat(1, 1fr);
   }
   .service-header{
       width: 90%;
   }
  }