.banner-img{
    width: 100%;
    height: 400px;
}
.first-part{
    padding: 2% 10%;
    text-align: center;
}
.first-part h2{
    font-size: 34px;
    font-weight: bold;
    color: rgb(75, 72, 72);
}
@media only screen and (max-width: 600px) {
    .banner-img{
        width: 360px;
        height: 200px;
    }
    .first-part{
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }
}