.details{
    margin: 50px;
    padding: 20px;
    display: flex;
    box-shadow: 2px 20px 10px 1px rgba(87, 80, 80, 0.2);
}
.details-img{
    width: 500px;
    height: 400px;
}
.data-secsion{
    margin-left: 40px;
    text-align: justify;
    
}
.data-secsion h3{
    font-size: 34px;
}
span{
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .details{
        width: 350px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        flex-wrap: wrap;
    }
    .details-img{
        width: 330px;
        height: 300px;
        padding: 10px;
        margin-top: 10px;
    }
    .data-secsion{
        margin-left: 0;
        text-align: center;
    }
}